swagger: '2.0'
info:
  title: Corvallis Parks API
  description: an api for the parks of Corvallis, OR
  version: v1
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: David Kalcic
    email: kalcicd@oregonstate.edu
schemes:
  - https
host: api.oregonstate.edu
basePath: /v1
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/parks-api
consumes:
  - application/json
produces:
  - application/json
paths:
  /parks:
    get:
      summary: List all parks
      tags:
        - parks
      description: Get all parks
      operationId: getParks
      parameters:
        - in: query
          name: amenities
          description: Filter by park amenities (play area, hiking trails, etc.)
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
            enum:
              - ballfield
              - barbeque grills
              - basketball courts
              - bike paths
              - boat ramps
              - dogs allowed
              - drinking water
              - fishing
              - hiking trails
              - horseshoes
              - natural area
              - offleash dog park
              - open fields
              - picnic shelters
              - picnic tables
              - play area
              - restrooms
              - scenic view point
              - soccer fields
              - tennis courts
              - volleyball
        - in: query
          name: parkName
          description: Filter parks by name
          required: false
          type: string
        - in: query
          name: ownerId
          description: Filter parks by owner ID
          required: false
          type: string
        - in: query
          name: city
          description: Filter parks by city
          required: false
          type: string
        - in: query
          name: state
          description: Filter parks by state
          required: false
          type: string
        - in: query
          name: zipCode
          description: Filter parks by zip code
          required: false
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ParksResult'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResult'
    post:
      summary: Creates a new park
      tags:
        - parks
      operationId: createPark
      parameters:
      - $ref: '#/parameters/parkBody'
      responses:
        '201':
          description: Successfully created new park
          schema:
            $ref: '#/definitions/ParkResult'
        '400':
          description: Invalid park object
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResult'
  /parks/{parkId}:
    get:
      summary: Lists info for a specific park
      tags:
        - parks
      description: Get park by unique ID
      operationId: getParkById
      parameters:
        - $ref: '#/parameters/parkIdPath'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ParkResult'
        '404':
          description: Park resource not found
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResult'
    patch:
      summary: Update information of a specific park
      tags: 
        - parks
      description: Update park by unique ID
      operationId: updateParkById
      parameters:
        - $ref: '#/parameters/parkIdPath'
        - $ref: '#/parameters/parkBody'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ParkResult'
        '400':
          description: Incorrect syntax in request, or required fields missing
          schema:
            $ref: '#/definitions/ErrorResult'
        '404':
          description: Park resource not found
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResult'
    delete:
      summary: Delete a specific park
      tags: 
        - parks
      description: Delete park by unique ID
      operationId: deleteParkById
      parameters:
        - $ref: '#/parameters/parkIdPath'
      responses:
        '204':
          description: Park successfully deleted
        '404':
          description: Park resource not found
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResult'
  /owners:
    get:
      summary: Lists all park owners
      tags:
        - owners
      description: Get all park owners
      operationId: getOwners
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OwnersResult'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResult'
    post:
      summary: Creates a new park owner account
      tags:
        - owners
      description: Post a new park owner
      operationId: postOwner
      parameters:
      - $ref: '#/parameters/ownerBody'
      responses:
        '201':
          description: Owner account successfully created
          schema:
            $ref: '#/definitions/OwnerResult'
        '400':
          description: Incorrect syntax in request, or required fields missing
          schema:
            $ref: '#/definitions/ErrorResult'
        '409':
          description: Owner account already exists
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResult'
  /owners/{ownerId}:
    get:
      summary: gets the account of a park owner by ID
      tags:
        - owners
      description: gets park owner by ID
      operationId: getOwnerById
      parameters:
      - $ref: '#/parameters/ownerIdPath'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OwnerResult'
        '400':
          description: Incorrect syntax in request, or required fields missing
          schema:
            $ref: '#/definitions/ErrorResult'
        '404':
          description: Owner resource not found
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResult'
    patch:
      summary: Updates the account of a park owner by ID
      tags:
        - owners
      description: patch park owner by ID
      operationId: updateOwnerById
      parameters:
      - $ref: '#/parameters/ownerIdPath'
      - $ref: '#/parameters/ownerBody'
      responses:
        '200':
          description: Owner successfully updated
          schema:
            $ref: '#/definitions/OwnersResult'
        '400':
          description: Incorrect syntax in request, or required fields missing
          schema:
            $ref: '#/definitions/ErrorResult'
        '404':
          description: Owner resource not found
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResult'
    delete:
      summary: Delete a park owner account by ID
      tags:
        - owners
      description: Delete owner by ID
      operationId: deleteOwnerById
      parameters:
      - $ref: '#/parameters/ownerIdPath'
      responses:
        '204':
          description: Park successfully deleted
        '404':
          description: Owner resource not found
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResult'
parameters:
  ownerIdPath:
    in: path
    name: ownerId
    description: ID of owner
    type: string
    required: true
  parkIdPath:
    name: parkId
    in: path
    description: Unique Park ID
    required: true
    type: string
  parkBody:
    name: parkBody
    in: body
    description: A park body object
    required: true
    schema:
      $ref: '#/definitions/PostParkModel'
  ownerBody:
    name: ownerBody
    in: body
    description: An owner body object
    required: true
    schema:
      $ref: '#/definitions/PostOwnerModel'
definitions:
  SelfLink:
    properties:
      self:
        type: string
        example: request_url_here
        format: url
        description: Self-link of current resource
  OwnerResource:
    required: [id, type, attributes]
    properties:
      id:
        type: string
        example: '0001'
        description: A unique ID of a park owner
      type:
        type: string
        description: type of object, should be owner
        example: owner
      attributes: &ownerAttributes
        required: [ownerName]
        properties:
          ownerName:
            type: string
            description: Name of park owner / organization
            example: City of Corvallis
  PostOwnerModel:
    required: [type, attributes]
    properties:
      type:
        type: string
        description: type of object, should be owner
        example: owner
      attributes: *ownerAttributes
  ParkResource:
    properties:
      id:
        type: string
        example: '0001'
        description: A unique ID of park
      type:
        type: string
        description: type of object, should be park
        example: park
      attributes: &parkAttributes
        required: [name, location, amenities]
        properties:
          name:
            type: string
            description: Name of Park
            example: Avery Park
          location:
            type: object
            required: [streetAddress, city, state, zip, latitude, longitude]
            properties:
              streetAddress:
                type: string
                description: Park address
                example: '1200 SW Avery Park Dr.'
              city:
                type: string
                description: city where the park is located
                example: Corvallis
              state:
                type: string
                description: Abbreviation of state where park is located
                pattern: '^(?:(A[KLRZ]|C[AOT]|D[CE]|FL|GA|HI|I[ADLN]|K[SY]|LA|M[ADEINOST]|N[CDEHJMVY]|O[HKR]|P[AR]|RI|S[CD]|T[NX]|UT|V[AIT]|W[AIVY]))$'
                example: OR
              zip:
                type: integer
                description: Zip code where park is located
                example: 97333
              latitude:
                type: number
                format: float
                description: latitude of park
                example: 44.552283
              longitude:
                type: number
                format: float
                description: longitude of park
                example: -123.269906
          amenities:
            type: array
            items:
              type: string
            example: [play area, bike paths]
            description: list of amenities at park
      relationships:
        type: object
        properties:
          data:
            type: object
            properties:
              type:
                type: string
                example: owner
              ownerId:
                type: string
                example: '1111'
  PostParkModel:
    required: [type, attributes]
    properties:
      type:
        type: string
        description: type of object, should be park
        example: park
      attributes: *parkAttributes
  ErrorObject:
    properties:
      status:
        type: string
        description: HTTP status code
        example: '123'
      title:
        type: string
        description: A short, user readable summary of the error
        example: 'Not Found'
      code:
        type: string
        description: An application-specific error code
        example: '1234'
      detail:
        type: string
        description: A long description of the error that may contain instance-specific details
        example: A long description of the error that may contain instance-specific details
      links:
        properties:
          about:
            type: string
            format: url
            description: A link to further information about the error
            example: 'https://developer.oregonstate.edu/documentation/error-reference#1234'
  ParkResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/ParkResource'
  ParksResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        type: array
        items:
          $ref: '#/definitions/ParkResource'
  OwnerResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/OwnerResource'
  OwnersResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        type: array
        items:
          $ref: '#/definitions/OwnerResource'
  ErrorResult:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/ErrorObject'
